*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    border:none !important;
    outline: none;
}

.logout{
    color: white;
}

a:hover{
    text-decoration: none;
}

a > li{
    color: white;
    list-style-type: none;
}

li{
    padding-bottom: 10px;
}

/* .ag-cell-focus,.ag-cell-no-focus{
    border:none !important;
    }

    .ag-cell:focus{
    border:none !important;
    outline: none;
    } 
*/

body{
    display: grid;
    overflow-x:hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.banner a{
    color:#000;
}

.grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.text{
    padding: 10px 10px;
    grid-column: 1/-1;
    text-align: center;
}

.one{
    margin: auto;
    padding: 10px 10px;
    grid-column: 1/-1;
}

.two{
    padding: 10px 10px;
    margin: auto;
    grid-column: 1/-1;
}

.three{
    padding: 10px 10px;
    margin: auto;
    grid-column: 1/-1;
}

.textcolor{
    color: whitesmoke;
}

.textcolor:hover{
    color: whitesmoke;
    text-decoration: none;
}

button{
    width: 200px;
}

/*-------------------------------- u_distribution css starts here----------------------------------- */

.nav_menu{
    display: flex;
    list-style-type: none;
}

.nav_menu li{
margin-right: 20px;
text-underline-position: unset;
color: #000;
}


.distribution_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

.heading{
    text-align: center; 
    margin-top: 10px;
    grid-column: 1/-1;
    background-color: #ccc;
    line-height: 50px;
    border-radius: 2px;
}

.general_info_form{
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-auto-rows: minmax(50px, auto);

}

.firstname{
    grid-column: 1/-1;
}

.lastname{
    grid-column: 1/-1;
}

.gender{
    grid-column: 1/-1;
}

.standard{
    grid-column: 1/-1;
}

.sub_heading{
    text-align: center;
    margin-top: 10px;
}

/*-------------------------------- u_issued css starts here----------------------------------- */

.issued_grid{
    margin-top: 20px;
}

#button-addon1{
    color: white;
}

.card:hover{
    cursor: pointer;
}



.card-header{
    font-size: 18px;
    color: black;
}

.card-body{
    padding-top: 0px;
}

.blockquote{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.blockquote p {
    font-size: 18px;
    color: black;
}

